<nav class="menu">
  <LinkTo @route="index" class="menu-about">
    <h1>Cryp</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="results-totals" class="menu-about">
      RESULTS TOTAL
    </LinkTo>
    <LinkTo @route="iota-eth-full" class="menu-about">
      IOTA ETH
    </LinkTo>
    <LinkTo @route="zrx-eth-full" class="menu-about">
      ZRX ETH
    </LinkTo>
    <LinkTo @route="btc-usdt" class="menu-about">
      BTC USDT
    </LinkTo>
    <LinkTo @route="bnb-usdt" class="menu-about">
      BNB USDT
    </LinkTo>
    <LinkTo @route="ltc-usdt" class="menu-about">
      LTC USDT
    </LinkTo>
    <LinkTo @route="eth-usdt" class="menu-about">
      ETH USDT
    </LinkTo>
  </div>
</nav>