<nav class="menu">
  <LinkTo @route="index" class="menu-about">
    <h1>Cryp</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="results-totals" class="menu-about">
      Results Total
    </LinkTo>
    <LinkTo @route="iota-eth-full" class="menu-about">
      IOTA ETH FULL
    </LinkTo>
    <LinkTo @route="xmr-usdt" class="menu-about">
      XMR USDT
    </LinkTo>
    <LinkTo @route="iota-eth" class="menu-about">
      IOTA ETH PARTIAL
    </LinkTo>
  </div>
</nav>